<!DOCTYPE html>
<html>
<head>
	<title>Local guide info:</title>
	<link rel="stylesheet" href="../static/css/local_guide.css">
</head>
<body>
	<h1>Local guide info:</h1>
	<ul>

		<li>
			<form action="/action_page.php">
				<label for="img">Upload your profie picture:</label>
				<input type="file" id="img" name="img" accept="image/*">
			  </form>
		</li>
		<li>
			<form>
				<label for="Info:">Please share something about you:</label>
				<textarea id="Info" name="Info"> </textarea>
		</form>
		</li>
		<li>
			<form>
			<label for="name">Please enter your name:</label>
			<input type="text" id="name" name="name">
		</form>
		</li>
		<li>
			<form>
			<label for="race">Please enter your ethnicity:</label>
			<input type="text" id="ethnicity" name="ethnicity">
		</form>
		</li>
		<li>
			<form>
			<label for="disability">Are you comfortable to sign up with disable person:</label>
			<input type="radio" id="disability" name="yes">yes</input>
			<input type="radio" id="disability" name="no">no</input>
		</form>
		</li>
		<li>
			<form>
			<label for="driving">Do you got car to give ride to your client tour:</label>
			<input type="radio" id="driving" name="yes">yes</input>
			<input type="radio" id="driving" name="no">no</input>
		</form>
		</li>
		<li>
			<form>
			<label for="pets">Are you comfortable to accomadate your client's pet:</label>
			<input type="radio" id="pets" name="yes">yes</input>
			<input type="radio" id="pets" name="no">no</input>
		</form>
		</li>

		<input type="Submit" value="Submit">
</ul>
		
	</form>
</body>
</html>

