<!DOCTYPE html>
<html>
<head>
	<title>Search Places</title>
</head>
<body>
	<h1>Search Place to visit</h1>
	<form>
		<label for="place">Search for a place:</label>
		<input type="text" id="place" name="place"><br><br>
		
		<label for="availability">Data Availability:</label>
		<select id="availability" name="availability">
			<option value="available">Available</option>
			<option value="unavailable">Unavailable</option>
		</select><br><br>
		
		<input type="submit" value="Search">
	</form>
</body>
</html>

